#global{
    border: 1PX;
    background-color: aqua;
    height: 1000PX;
}

#header {

    border: 1PX;
    background-color: antiquewhite;
    height: 90px;
    margin: 5px;
    padding: 5px;
}
#contenu{
    
    border: 1PX;
    background-color: antiquewhite;
    height: 900px;
    margin: 5px;
    padding: 5px;
}